x<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Utwórz Memo</h4>
        </div>

        <div class="modal-body">
            <%= bootstrap_form_for :memo, remote: true, html: { style: "display:inline;" } do |f| %>

                <!-- Room ID & Time Picker -->
                <div class="row">
                    <div class="col-xs-6">    
                        <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Pokój" %>
                    </div>

                    <div class="col-xs-6">
                        <%= f.time_select :deadline, label: "Godzina", :ignore_date => true %>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="col-xs-12">          
                        <%= f.text_field :description, label: "Opis" %>
                    </div>
                </div>

                <!-- Date Picker -->
                <div class="row" id="new_memo_date_field">
                    <div class="col-xs-6 form-group">
                        <div class="btn-group">
                            <label>Data wykonania</label>
                            <div class="input-group date" data-provide='datepicker'>
                                <%= f.text_field :deadline, class: 'form-control' , :value => Date.today(), 
                                    hide_label: true  %>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <%= f.hidden_field :time_stamp, :value => Date.today %>
                <%= f.hidden_field :is_done, :value => false %>

                <!-- Footer -->
                <div class="modal-footer">
                    <div class="text-right">
                        <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                        <%= f.submit "Utwórz", :class => 'btn btn-primary' %>
                    </div>
                </div>

            <% end %>

        </div>        

    </div>
</div

